registry=https://pkgs.dev.azure.com/michelin-dcadcx/_packaging/michelin-dcadcx/npm/registry/
//pkgs.dev.azure.com/michelin-dcadcx/_packaging/michelin-dcadcx/npm/registry/:_password="${NPM_CONFIG__PASSWORD}"
//pkgs.dev.azure.com/michelin-dcadcx/_packaging/michelin-dcadcx/npm/registry/:username="${NPM_CONFIG_USERNAME}"
always-auth=true
