---
const { title, bodyClass, aposData } = Astro.props;
---

<!DOCTYPE html>
<html lang={ aposData.locale }>
  <head>
    <slot name="startHead" />
    <title>{ title }</title>
    <slot name="standardHead" />
    <slot name="extraHead" />
  </head>
  <body class={ bodyClass }>
    <slot name="startBody" />
    <slot name="beforeMain" />
    <slot name="main" />
    <slot name="afterMain" />
    <slot name="endBody" />
  </body>
</html>
