---
const { title, bodyClass, aposData, lang } = Astro.props
const bundleSrc = `${aposData.aposBodyData?.assetBaseUrl}/apos-module-bundle.js`
---

<!DOCTYPE html>
<html lang={ lang }>
  <head>
    <slot name="startHead"/>
    <title>{ title }</title>
    <slot name="standardHead"/>
    <slot name="extraHead"/>
  </head>
  <body data-apos-generated class={ bodyClass } data-apos={ JSON.stringify(aposData.aposBodyData) }>
    <slot name="startBody"/>
    <div id="apos-busy"></div>
    <div id="apos-admin-bar"></div>
    <div id="apos-notification"></div>

    <div data-apos-refreshable>
      <slot name="beforeMain"/>
      <slot name="main"/>
      <slot name="afterMain"/>
    </div>

    <div id="apos-modals"></div>
    <div id="apos-command-menu"></div>

    <script src={bundleSrc} is:inline />
    <slot name="endBody"/>
  </body>
</html>