---
import AposArea from '../AposArea.astro';

const { piece } = Astro.props.aposData;
const { content = {} } = piece;

---
<div class="apos-section-preview">
  <div class="minimal-container">
    <AposArea area={content} />
  </div>
</div>
<div slot="beforeMain"></div>
<div slot="afterMain"></div>
